/*
0- 600px: Phone 
600 - 900px: Tablet Portrait 
900 - 1200px: Tablet Landscape
[1200 -1800] is where our normal styles apply
1800px + : Big Desktop

$breakpoint arguments choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px example 600/16em = 37.5em
1 rem = 10px  10px/16px = 62.5% (16 is the default font size)
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-inherit;
  /* setting the box sizing to border box the height and the width will be defined by the entire box not just by the content area */ }

html {
  font-size: 65.5%;
  /*( 10 divided by 16 // .625*10 ) not working for IE9 version 1 rem = 10px  10px/16px = 62.5% */ }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

/* This is the H1 */
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  /* This is the span */ }
  @media (max-width: 37.5em) {
    .heading-primary {
      margin-right: 6rem; } }
  @media (max-width: 56.25em) {
    .heading-primary {
      margin-right: 11rem; } }
  .heading-primary--main {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 1rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    /* 
    animation-delay: 3s; 
    animation-iteration-count: 3; // count the number of animation
    */ }
    @media (max-width: 56.25em) {
      .heading-primary--main {
        font-size: 4rem;
        letter-spacing: 0.1rem; } }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 3rem;
        letter-spacing: 0.1rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1rem;
    padding-left: 2.02rem;
    animation: moveInRight 1s ease-out;
    /* This is the shorcut of animation + animation duration and animation timing */ }
    @media (max-width: 56.25em) {
      .heading-primary--sub {
        font-size: 4rem;
        letter-spacing: .1rem; } }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        font-size: 3rem;
        letter-spacing: .5rem; } }

.heading-section2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #dcdada, #dfdfdf);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media (max-width: 56.25em) {
    .heading-section2 {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-section2 {
      font-size: 2.5rem; } }
  .heading-section2:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px; }

blockquote:before {
  content: "\201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -5px;
  left: -5px; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top {
  margin-top: 2.5rem; }

.u-margin-top1 {
  margin-top: 2.5rem; }

.u-margin-top2 {
  margin-top: 2.2rem; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }
  @media (max-width: 37.5em) {
    .btn, .btn:link, .btn:visited {
      margin-right: 11rem; } }
  @media (max-width: 56.25em) {
    .btn, .btn:link, .btn:visited {
      margin-right: 11rem; } }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  margin-right: 40rem;
  margin-left: 31rem;
  background-color: #7ed56f;
  color: #fff; }
  .btn--green::after {
    background-color: #7ed56f; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #7ed56f;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #7ed56f;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #7ed56f;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    height: 50rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #000, #000); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #000, #000); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #000, #000); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #000, #000), url(../img/girl-camera.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #000, #000), url(../img/view-capture.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #000, #000), url(../img/picography-man-camera-photographer-lens-1.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading2 {
    font-size: 2.3rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 10rem;
    right: 2rem;
    width: 75%; }
  .card__heading3 {
    font-size: 2.3rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 13rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)); }
  .card__details {
    padding: 1rem 3rem 3rem 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.next1 {
  padding: 15rem 0 10rem 0;
  background-color: #222;
  height: 50rem;
  margin-top: -20vh;
  width: 100%; }
  @media (max-width: 37.5em) {
    .next1 {
      height: 81rem;
      margin-top: -15vh; } }
  @media (max-width: 56.25em) {
    .next1 {
      height: 81rem;
      margin-top: -20vh; } }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: .2rem;
    position: absolute;
    z-index: 10;
    transition: all .2s; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem;
      height: 30rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem;
      height: 30rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem;
      height: 30rem; }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.popup {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__close:link, .popup__close:visited {
    color: #999;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s; }
  .popup__close:hover {
    color: #7ed56f; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 50rem;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2); }
  .popup__text1 {
    width: 100%;
    text-align: center; }
  .popup__margin-primary {
    margin-top: 10rem; }
  .popup__margin-tertiary {
    margin: 2rem 2rem 2rem 2rem; }
  .popup__h3 {
    text-align: center;
    width: 100%; }

textarea {
  height: 7rem 20rem;
  border: 0.5rem; }

.glamour-form {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #55c57a, #28b485);
  position: relative;
  z-index: 2; }

.glamour {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%, transparent 100%), url(../img/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  height: 50rem; }
  .glamour__form {
    width: 95%;
    padding: 3rem; }

.footer {
  background-color: #222;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7;
  height: 30rem;
  width: 100%; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 0;
      height: 39rem; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 2rem; }
    @media (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    width: 32rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #7ed56f;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 80%;
    float: right; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(37, 37, 37, 0.8), rgba(0, 0, 0, 0.8)), url(../img/iso-republic-film-roll-advance.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 75vh, 0 100%);
  clip-path: polygon(0 0%, 100% 0%, 100% 75vh, 0 100%);
  /* This is the div con */ }
  .header__logo-box {
    position: absolute;
    top: 6rem;
    left: 6rem; }
  .header__logo {
    height: 14rem;
    position: absolute;
    bottom: -11rem;
    right: -24rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    @media (max-width: 56.25em) {
      .header__text-box {
        left: 55%; } }

.heading-secondary1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;
  background-image: linear-gradient(to right, #000, #000);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary1:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-secondary {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;
  background-image: linear-gradient(to right, #fff, #fff);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.header-testimonial {
  padding-top: 6rem;
  font-size: 3.5rem;
  font-weight: 300;
  text-transform: uppercase; }

hr {
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 1.5px solid;
  border-color: #28b485;
  width: 10%;
  margin-left: 63rem;
  margin-top: 2rem;
  margin-bottom: 2rem; }
  @media (max-width: 75em) {
    hr {
      margin-left: 58rem; } }
  @media (max-width: 56.25em) {
    hr {
      margin-left: 50rem; } }
  @media (max-width: 37.5em) {
    hr {
      margin-left: 33rem; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#000, #000);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 227%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #777;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.testimonial {
  height: 50rem;
  width: 100%;
  font-size: 20px;
  color: white;
  font-weight: 300; }
  @media (max-width: 56.25em) {
    .testimonial {
      height: 129rem; } }

.image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.459)), url(../img/nat-10.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  height: 50rem; }
  @media (max-width: 56.25em) {
    .image {
      height: 129rem; } }

cite {
  font-size: 90%;
  margin-top: 25px;
  display: block; }

cite img {
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle; }

.section-prices {
  padding: 8rem 0 20rem 0;
  background-color: #222;
  height: 50rem;
  width: 100%;
  z-index: 1; }
  @media (max-width: 37.5em) {
    .section-prices {
      height: 157rem; } }
  @media (max-width: 56.25em) {
    .section-prices {
      height: 157rem; } }

.section-slider {
  padding: 4rem 0 5rem 0;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(119, 119, 119, 0.8)), url(../img/nat-10.jpg);
  height: 56rem;
  width: 100%;
  overflow: hidden; }
  @media (max-width: 56.25em) {
    .section-slider {
      height: 63rem;
      padding: 12rem 0 5rem 0; } }
  @media (max-width: 37.5em) {
    .section-slider {
      height: 48rem; } }

.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
  margin-bottom: 2rem; }

.center-slider {
  text-align: center;
  margin: 0 auto; }

/* Hide the images by default */
.mySlides {
  display: none; }

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none; }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center; }

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active,
.dot:hover {
  background-color: #717171; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
